/* \src\styles\theme.css */

/* src/styles/theme.css */

@import "tailwindcss";

@theme {
  --color-bg: #f8f5fa;
  --color-card: #ffffff;

  --color-text: #231c2b;
  --color-muted: #7c7387;

  --color-primary: #4f315e;
  --color-primary-light: #6e4683;
  --color-primary-soft: #eee5f3;

  --color-secondary: #c45508;
  --color-secondary-light: #e27a31;

  --color-success: #218a4a;
  --color-warning: #d79a2e;
  --color-error: #cb3535;

  --color-border: #e5dfe8;
}